# Server
PORT=3000
SESSION_SECRET=dev-secret-change-me

# Database
DATABASE_URL=

# Email (Resend)
RESEND_API_KEY=re_XXXXXXXXXXXXXXXXXXXXXXXX
FROM_EMAIL=My Login <noreply@your-domain.com>

# Clerk (optional)
CLERK_SECRET_KEY=sk_test_UaoCsKANlwGXribZ2RlTVJqZP6K7Zsfz4vq8cpBvvv
CLERK_PUBLISHABLE_KEY=pk_test_dG91Z2gtZG92ZS02My5jbGVyay5hY2NvdW50cy5kZXYk
